body{
  margin: 0;
  text-align: center;
}

.img-class{
  display: none;
  width: 240px;
  margin: 2rem auto;
  border-radius: 0.5rem;
}

button{
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem;
}